## <span style="color:blue">**CHAPTER 3** </span>
## <span style="color:blue">**Built-in Data Structures, Functions, and Files** </span>

### <span style="color:red">**3.1 Data Structures and Sequences** </span>

#### <span style="color:black">**Tuple** </span>

In [1]:
tup=4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup=(4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup=tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup=tuple(['foo',[1,2],True])

In [10]:
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

##### <span style="color:blue">**Unpacking tuples**</span>

In [19]:
tup=(4,5,6)

In [20]:
a,b,c=tup

In [21]:
b

5

In [22]:
tup=4,5,(6,7)

In [23]:
a,b,(c,d)=tup

In [24]:
d

7

In [25]:
tmp=a

In [26]:
a=b

In [28]:
b=tmp

In [29]:
a,b=1,2

In [30]:
a

1

In [31]:
b

2

In [32]:
b,a=a,b

In [33]:
a

2

In [34]:
b

1

In [35]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [36]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [37]:
values=1,2,3,4,5

In [38]:
a,b,* rest=values

In [39]:
a,b

(1, 2)

In [40]:
rest

[3, 4, 5]

In [41]:
a,b,*_=values

In [43]:
rest

[3, 4, 5]

##### <span style="color:blue">**Tuple methods**</span>

In [44]:
a=(1,2,2,2,3,4,2)

In [45]:
a.count(2)

4

#### <span style="color:black">**List** </span>

In [1]:
a_list=[2,3,7,None]

In [2]:
tup=('foo','bar','baz')

In [3]:
b_list=list(tup)

In [4]:
b_list

['foo', 'bar', 'baz']

In [5]:
b_list[1]='peekaboo'

In [6]:
b_list

['foo', 'peekaboo', 'baz']

In [9]:
gen=range(10)

In [10]:
gen

range(0, 10)

In [11]:
type(gen)

range

In [12]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### <span style="color:blue">**Adding and removing elements**</span>

In [7]:
b_list.append('dwarf')

In [8]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [9]:
b_list.insert(1,'red')

In [10]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [11]:
b_list.pop(2)

'peekaboo'

In [12]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [13]:
b_list.append('foo')

In [14]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [15]:
b_list.remove('foo')

In [16]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [18]:
'dwarf'  in b_list

True

In [19]:
'dwarf' not in b_list

False

##### <span style="color:blue">**Concatenating and combining lists**</span>

In [20]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
x=[4,None,'foo']

In [22]:
x.extend([7,8,(2,3)])

In [23]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [25]:
everything=[]
for chunk in list_of_lists:
    everything.extend(chuck)

NameError: name 'list_of_lists' is not defined

In [26]:
everything=[]
for chunk in list_of_lists:
    everything=everything+chunk

NameError: name 'list_of_lists' is not defined

##### <span style="color:blue">**Sorting**</span>

In [31]:
a=[7,2,5,1,3]

In [32]:
a.sort()

In [33]:
a

[1, 2, 3, 5, 7]

In [34]:
b=['saw','small','He','foxes','six']

In [35]:
b.sort(key=len)

In [36]:
b

['He', 'saw', 'six', 'small', 'foxes']

##### <span style="color:blue">**Binary search and maintaining a sorted list**</span>

In [37]:
import bisect

In [38]:
c=[1,2,2,2,3,4,7]

In [39]:
bisect.bisect(c,2)

4

In [40]:
bisect.bisect(c,5)

6

In [41]:
bisect.insort(c,6)

In [42]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

##### <span style="color:blue">**Slicing**</span>

In [43]:
seq=[7, 2, 3, 7, 5, 6, 0, 1]

In [44]:
seq[1:5]

[2, 3, 7, 5]

In [45]:
seq[3:4]=[6,3]

In [46]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [47]:
seq[:5]

[7, 2, 3, 6, 3]

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [49]:
seq[-4:]

[5, 6, 0, 1]

In [50]:
seq[-6:-2]

[6, 3, 5, 6]

In [51]:
seq[::2]

[7, 3, 3, 6, 1]

In [52]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### <span style="color:black">**Built-in Sequence Functions** </span>

##### <span style="color:blue">**enumerate**</span>

In [53]:
i=0
for value in collection:
    # do something with value
    i+=1

NameError: name 'collection' is not defined

In [54]:
for i,value in enumerate(collection):
     # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-54-b6881c4b8e56>, line 2)

In [56]:
some_list=['foo','bar','baz']

In [57]:
mapping={}

In [58]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [59]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

##### <span style="color:blue">**sorted**</span>

In [60]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [61]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

##### <span style="color:blue">**zip**</span>

In [62]:
seq1= ['foo', 'bar', 'baz']

In [63]:
seq2 = ['one', 'two', 'three']

In [64]:
zipped=zip(seq1,seq2)

In [65]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [66]:
seq3=[False,True]

In [67]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [68]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [69]:
pitchers=[('Nolan','Ryn'),('Roger','Clemens'),('Schilling','Curt')]

In [70]:
first_names,last_names=zip(*pitchers)

In [71]:
first_names

('Nolan', 'Roger', 'Schilling')

In [72]:
last_names

('Ryn', 'Clemens', 'Curt')

##### <span style="color:blue">**reversed**</span>

In [74]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### <span style="color:black">**Dict**</span>

In [76]:
empty_dict={}
d1={'a':'some value','b':[1,2,3,4]}

In [77]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [78]:
d1[7]='an integer'

In [79]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [80]:
d1['b']

[1, 2, 3, 4]

In [81]:
'b' in d1

True

In [82]:
d1[5]='some value'

In [83]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [85]:
d1['dummy']='another value'

In [86]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [87]:
del d1[5]

In [88]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [89]:
ret=d1.pop('dummy')

In [90]:
ret

'another value'

In [91]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [92]:
list(d1.keys())

['a', 'b', 7]

In [94]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [95]:
d1.update({'b' : 'foo', 'c' : 12})

In [96]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

##### <span style="color:blue">**Creating dicts from sequences**</span>

In [98]:
mapping={}
for key,value in zip(key_list,value_list):
    mapping[key]=value

NameError: name 'key_list' is not defined

In [99]:
mapping=dict(zip(range(5),reversed(range(5))))

In [100]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [101]:
if key in some_dict:
    value=some_dict[key]
else:
    value=default_value

NameError: name 'key' is not defined

In [102]:
value=some_dict.get(key,default_value)

NameError: name 'some_dict' is not defined

In [104]:
words=['apple','bat','bar','atom','book']
by_letter={}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [105]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [106]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)

In [107]:
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [108]:
hash('string')

-1767226429837095433

In [111]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [112]:
hash((1,2,[2,3]))# fails because lists are mutable

TypeError: unhashable type: 'list'

In [113]:
d={}
d[tuple([1,2,3])]=5

In [114]:
d

{(1, 2, 3): 5}