# **CHAPTER 3** 
# **Built-in Data Structures, Functions, and Files**

## **3.1 Data Structures and Sequences**

### **Tuple**

In [1]:
tup=4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup=(4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup=tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup=tuple(['foo',[1,2],True])

In [10]:
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### **Unpacking tuples**

In [19]:
tup=(4,5,6)

In [20]:
a,b,c=tup

In [21]:
b

5

In [22]:
tup=4,5,(6,7)

In [23]:
a,b,(c,d)=tup

In [24]:
d

7

In [25]:
tmp=a

In [26]:
a=b

In [28]:
b=tmp

In [29]:
a,b=1,2

In [30]:
a

1

In [31]:
b

2

In [32]:
b,a=a,b

In [33]:
a

2

In [34]:
b

1

In [35]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [36]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [37]:
values=1,2,3,4,5

In [38]:
a,b,* rest=values

In [39]:
a,b

(1, 2)

In [40]:
rest

[3, 4, 5]

In [41]:
a,b,*_=values

In [43]:
rest

[3, 4, 5]

#### **Tuple methods**

In [44]:
a=(1,2,2,2,3,4,2)

In [45]:
a.count(2)

4

### **List**

In [1]:
a_list=[2,3,7,None]

In [2]:
tup=('foo','bar','baz')

In [3]:
b_list=list(tup)

In [4]:
b_list

['foo', 'bar', 'baz']

In [5]:
b_list[1]='peekaboo'

In [6]:
b_list

['foo', 'peekaboo', 'baz']

In [9]:
gen=range(10)

In [10]:
gen

range(0, 10)

In [11]:
type(gen)

range

In [12]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### **Adding and removing elements**

In [7]:
b_list.append('dwarf')

In [8]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [9]:
b_list.insert(1,'red')

In [10]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [11]:
b_list.pop(2)

'peekaboo'

In [12]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [13]:
b_list.append('foo')

In [14]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [15]:
b_list.remove('foo')

In [16]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [18]:
'dwarf'  in b_list

True

In [19]:
'dwarf' not in b_list

False

#### **Concatenating and combining lists**

In [20]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [21]:
x=[4,None,'foo']

In [22]:
x.extend([7,8,(2,3)])

In [23]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [25]:
everything=[]
for chunk in list_of_lists:
    everything.extend(chuck)

NameError: name 'list_of_lists' is not defined

In [26]:
everything=[]
for chunk in list_of_lists:
    everything=everything+chunk

NameError: name 'list_of_lists' is not defined

#### **Sorting**

In [31]:
a=[7,2,5,1,3]

In [32]:
a.sort()

In [33]:
a

[1, 2, 3, 5, 7]

In [34]:
b=['saw','small','He','foxes','six']

In [35]:
b.sort(key=len)

In [36]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### **Binary search and maintaining a sorted list**

In [37]:
import bisect

In [38]:
c=[1,2,2,2,3,4,7]

In [39]:
bisect.bisect(c,2)

4

In [40]:
bisect.bisect(c,5)

6

In [41]:
bisect.insort(c,6)

In [42]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### **Slicing**

In [43]:
seq=[7, 2, 3, 7, 5, 6, 0, 1]

In [44]:
seq[1:5]

[2, 3, 7, 5]

In [45]:
seq[3:4]=[6,3]

In [46]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [47]:
seq[:5]

[7, 2, 3, 6, 3]

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [49]:
seq[-4:]

[5, 6, 0, 1]

In [50]:
seq[-6:-2]

[6, 3, 5, 6]

In [51]:
seq[::2]

[7, 3, 3, 6, 1]

In [52]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### **Built-in Sequence Functions**

#### **enumerate**

In [53]:
i=0
for value in collection:
    # do something with value
    i+=1

NameError: name 'collection' is not defined

In [54]:
for i,value in enumerate(collection):
     # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-54-b6881c4b8e56>, line 2)

In [56]:
some_list=['foo','bar','baz']

In [57]:
mapping={}

In [58]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [59]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### **sorted**

In [60]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [61]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### **zip**

In [62]:
seq1= ['foo', 'bar', 'baz']

In [63]:
seq2 = ['one', 'two', 'three']

In [64]:
zipped=zip(seq1,seq2)

In [65]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [66]:
seq3=[False,True]

In [67]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [68]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [69]:
pitchers=[('Nolan','Ryn'),('Roger','Clemens'),('Schilling','Curt')]

In [70]:
first_names,last_names=zip(*pitchers)

In [71]:
first_names

('Nolan', 'Roger', 'Schilling')

In [72]:
last_names

('Ryn', 'Clemens', 'Curt')

#### **reversed**

In [74]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### **Dict**

In [76]:
empty_dict={}
d1={'a':'some value','b':[1,2,3,4]}

In [77]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [78]:
d1[7]='an integer'

In [79]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [80]:
d1['b']

[1, 2, 3, 4]

In [81]:
'b' in d1

True

In [82]:
d1[5]='some value'

In [83]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [85]:
d1['dummy']='another value'

In [86]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [87]:
del d1[5]

In [88]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [89]:
ret=d1.pop('dummy')

In [90]:
ret

'another value'

In [91]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [92]:
list(d1.keys())

['a', 'b', 7]

In [94]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [95]:
d1.update({'b' : 'foo', 'c' : 12})

In [96]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### **Creating dicts from sequences**

In [98]:
mapping={}
for key,value in zip(key_list,value_list):
    mapping[key]=value

NameError: name 'key_list' is not defined

In [99]:
mapping=dict(zip(range(5),reversed(range(5))))

In [100]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [101]:
if key in some_dict:
    value=some_dict[key]
else:
    value=default_value

NameError: name 'key' is not defined

In [102]:
value=some_dict.get(key,default_value)

NameError: name 'some_dict' is not defined

In [104]:
words=['apple','bat','bar','atom','book']
by_letter={}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [105]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [106]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)

In [107]:
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [108]:
hash('string')

-1767226429837095433

In [111]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [112]:
hash((1,2,[2,3]))# fails because lists are mutable

TypeError: unhashable type: 'list'

In [113]:
d={}
d[tuple([1,2,3])]=5

In [114]:
d

{(1, 2, 3): 5}

### **Set**

In [1]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [2]:
{2,2,2,1,3,3}

{1, 2, 3}

In [3]:
a={1,2,3,4,5}

In [4]:
b={3,4,5,6,7,8}

In [5]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a.intersection(b)

{3, 4, 5}

In [8]:
a&b

{3, 4, 5}

In [9]:
c=a.copy()

In [10]:
c|=b

In [11]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
d=a.copy()

In [15]:
d&=b

In [16]:
d

{3, 4, 5}

In [17]:
my_data=[1,2,3,4]

In [18]:
my_set={tuple(my_data)}

In [19]:
my_set

{(1, 2, 3, 4)}

In [22]:
a_set={1,2,3,4,5}

In [23]:
{1,2,3}.issubset(a_set)

True

In [24]:
a_set.issuperset({1,2,3})

True

In [25]:
{1,2,3}=={3,2,1}

True

### **List, Set, and Dict Comprehensions**

In [26]:
result=[]
for val in collection:
    if condition:
        result.append(expr)

NameError: name 'collection' is not defined

In [27]:
strings=['a', 'as', 'bat', 'car', 'dove', 'python']

In [29]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [30]:
unique_lengths={len(x) for x in strings}

In [31]:
unique_lengths

{1, 2, 3, 4, 6}

In [32]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [33]:
loc_mapping={val:index for index, val in enumerate(strings)}

In [34]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### **Nested list comprehensions**

In [35]:
all_data=[['John','Emily','Michael','Mary','Steven'],
                    ['Maria','Juan','Javier', 'Natalia', 'Pilar']]

In [43]:
names_of_insterest=[]
for names in all_data:
    enough_es=[name  for name in names if name.count('e')>=2]
    names_of_insterest.extend(enough_es)

In [44]:
result=[name for names in all_data for name in names
       if name.count('e')>=2]

In [45]:
result

['Steven']

In [46]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [47]:
flattened=[x for tup in some_tuples for x in tup]

In [48]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
flattened=[]
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [50]:
[[x for x in tup ] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## **3.2 Functions**

In [51]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [52]:
my_function(5,6,z=0.7)

45.0

In [53]:
my_function(3.14,7,3.5)

35.49

In [54]:
my_function(10,20)

45.0

In [55]:
my_function(x=5,y=6,z=7)

77

In [56]:
my_function(y=6, x=5, z=7)

77

### **Namespaces, Scope, and Local Functions**

In [57]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [58]:
a=[]
def func():
    for i in range(5):
        a.append(i)

In [59]:
a=None

In [62]:
def bind_a_variable():
    global a
    a=[]
bind_a_variable()

In [63]:
print(a)

[]

### **Returning Multiple Values**

In [64]:
def f():
    a=5
    b=6
    c=7
    return a,b,c
a,b,c=f()

In [65]:
return_value=f()

In [66]:
def f():
    a=5
    b=6
    c=7
    return{'a':a,'b':b,'c':c}

### **Functions Are Objects**

In [67]:
states=[' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south carolina##', 'West virginia?']

In [68]:
import re

In [69]:
def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()# dizenin bandaki ve sonundaki bouklar kaldrn 
        value=re.sub('[!#?]', '', value)#noktalama iaretlerini kaldrma
        value=value.title()# her kelimenin ilk harfini byk yapar
        result.append(value)
    return result

In [70]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [73]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops=[str.strip,remove_punctuation,str.title]

In [77]:
def clean_strings(strings,ops):
    result=[]
    for value in strings:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

In [78]:
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [79]:
for x in map(remove_punctuation,states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

### **Anonymous (Lambda) Functions**

In [80]:
def short_function(x):
    return x*2

In [81]:
equiv_anon=lambda x:x*2

In [82]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

In [85]:
ints=[4,0,1,5,6]

In [86]:
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

In [87]:
strings=['foo', 'card', 'bar', 'aaaa', 'abab']

In [95]:
strings.sort(key=lambda x: len(set(x)))
#set'e evirmemizin sebebi tekrar eden harfleri almamak iin

In [96]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### **Currying: Partial Argument Application**

In [91]:
def add_numbers(x,y):
    return x+y

In [92]:
add_five=lambda y: add_numbers(5,y)

In [98]:
add_five(2)

7

In [93]:
from functools import partial
add_five=partial(add_numbers,5)

### **Generators**

In [1]:
some_dict={'a':1,'b':2,'c':3}

In [2]:
for key in some_dict:
    print(key)

a
b
c

In [3]:
dict_iterator=iter(some_dict)

In [4]:
dict_iterator

In [5]:
list(dict_iterator)

['a', 'b', 'c']

In [6]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [7]:
gen=squares()

In [8]:
gen

In [9]:
for x in gen:
    print(x,end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [10]:
gen=(x**2 for x in range(100))

In [11]:
gen

In [12]:
def _make_gen():
    for x in range(100):
        yield x**2
gen=_make_gen()

In [13]:
sum(x**2 for x in range(100))

328350

In [15]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### **itertools module**

In [16]:
import itertools

In [17]:
first_letter=lambda x:x[0]

In [18]:
 names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [19]:
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### **Errors and Exception Handling**

In [20]:
float('1.2345')

1.2345

In [21]:
float('something')

ValueError: could not convert string to float: 'something'

In [24]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [25]:
attempt_float('1.2345')

1.2345

In [26]:
attempt_float('something')

'something'

In [27]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [29]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [30]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [31]:
def attempt_float(x):
    try:
        return float(x)
    except(TypeError,ValueError):
        return x

In [33]:
f=open(path,'w')
try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In [35]:
f = open(path, 'w')
try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined