# **CHAPTER 11**
# **Time Series**

## **11.1 Date and Time Data Types and Tools**

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2020, 12, 24, 22, 41, 55, 346943)

In [4]:
now.year, now.month, now.day

(2020, 12, 24)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
 start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### **Converting Between String and Datetime**

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']

In [19]:
 [datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

## **11.2 Time Series Basics**

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [23]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [25]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

## **11.2 Time Series Basics**

In [33]:
from datetime import datetime
import numpy as np

In [34]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [35]:
ts = pd.Series(np.random.randn(6), index=dates)

In [36]:
 ts

2011-01-02    0.784612
2011-01-05   -1.802270
2011-01-07    0.730702
2011-01-08   -0.885445
2011-01-10    0.299109
2011-01-12   -0.394766
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [38]:
ts + ts[::2]

2011-01-02    1.569225
2011-01-05         NaN
2011-01-07    1.461404
2011-01-08         NaN
2011-01-10    0.598219
2011-01-12         NaN
dtype: float64

In [39]:
ts.index.dtype

dtype('<M8[ns]')

In [41]:
stamp = ts.index[0]

In [42]:
stamp

Timestamp('2011-01-02 00:00:00')

### **Indexing, Selection, Subsetting**

In [43]:
stamp = ts.index[2]

In [44]:
 ts[stamp]

0.7307021007551185

In [45]:
ts['1/10/2011']

0.29910937078165917

In [46]:
ts['20110110']

0.29910937078165917

In [47]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [48]:
longer_ts

2000-01-01    0.780327
2000-01-02    0.595062
2000-01-03   -0.440168
2000-01-04   -2.015650
2000-01-05   -0.540692
                ...
2002-09-22   -0.565051
2002-09-23    0.856455
2002-09-24    0.364788
2002-09-25    1.183679
2002-09-26   -0.804894
Freq: D, Length: 1000, dtype: float64

In [49]:
longer_ts['2001']

2001-01-01   -0.770055
2001-01-02    0.185474
2001-01-03    1.207739
2001-01-04    0.047062
2001-01-05   -0.800906
                ...
2001-12-27    0.429231
2001-12-28    0.399574
2001-12-29   -2.763932
2001-12-30    2.232051
2001-12-31    0.972520
Freq: D, Length: 365, dtype: float64

In [50]:
longer_ts['2001-05']

2001-05-01    0.534805
2001-05-02   -0.062756
2001-05-03    1.477553
2001-05-04    0.829316
2001-05-05    1.047095
2001-05-06   -0.457320
2001-05-07   -0.324069
2001-05-08    0.011548
2001-05-09    1.861131
2001-05-10    0.443718
2001-05-11   -0.325894
2001-05-12   -0.753411
2001-05-13    1.358835
2001-05-14    1.102300
2001-05-15   -0.580739
2001-05-16    0.196077
2001-05-17    2.053658
2001-05-18   -0.770603
2001-05-19    0.485725
2001-05-20    0.333431
2001-05-21    1.980002
2001-05-22    0.158228
2001-05-23    0.016128
2001-05-24    1.270446
2001-05-25   -1.231852
2001-05-26    0.145236
2001-05-27   -0.913781
2001-05-28    0.523553
2001-05-29   -1.531548
2001-05-30    0.635819
2001-05-31    0.982587
Freq: D, dtype: float64

In [51]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.730702
2011-01-08   -0.885445
2011-01-10    0.299109
2011-01-12   -0.394766
dtype: float64

In [52]:
 ts

2011-01-02    0.784612
2011-01-05   -1.802270
2011-01-07    0.730702
2011-01-08   -0.885445
2011-01-10    0.299109
2011-01-12   -0.394766
dtype: float64

In [53]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.730702
2011-01-08   -0.885445
2011-01-10    0.299109
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02    0.784612
2011-01-05   -1.802270
2011-01-07    0.730702
2011-01-08   -0.885445
dtype: float64

In [56]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [58]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [59]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.815944  0.638401 -0.116460  1.328155
2001-05-09 -0.775965 -0.380415 -1.142045 -1.429554
2001-05-16 -0.125643  0.187508  1.680042 -0.078653
2001-05-23 -0.665542  0.089052 -0.567968 -1.642915
2001-05-30 -0.998446 -0.822672  1.199853 -0.671646

### **Time Series with Duplicate Indices**

In [60]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [61]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [62]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [63]:
dup_ts.index.is_unique

False

In [64]:
dup_ts['1/3/2000'] # not duplicated

4

In [65]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [66]:
grouped = dup_ts.groupby(level=0)

In [67]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [68]:
 grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## **11.3 Date Ranges, Frequencies, and Shifting**

In [69]:
ts

2011-01-02    0.784612
2011-01-05   -1.802270
2011-01-07    0.730702
2011-01-08   -0.885445
2011-01-10    0.299109
2011-01-12   -0.394766
dtype: float64

In [70]:
resampler = ts.resample('D')

### **Generating Date Ranges**

In [71]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [72]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### **Frequencies and Date Offsets**

In [78]:
from pandas.tseries.offsets import Hour, Minute

In [79]:
hour = Hour()

In [80]:
hour

In [81]:
four_hours = Hour(4)

In [82]:
 four_hours

In [83]:
 pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [84]:
Hour(2) + Minute(30)

In [85]:
 pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### **Week of month dates**

In [86]:
 rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [87]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### **Shifting (Leading and Lagging) Data**

In [88]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [89]:
ts

2000-01-31   -2.158535
2000-02-29   -1.926838
2000-03-31    1.046985
2000-04-30    1.363291
Freq: M, dtype: float64

In [90]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -2.158535
2000-04-30   -1.926838
Freq: M, dtype: float64

In [91]:
 ts.shift(-2)

2000-01-31    1.046985
2000-02-29    1.363291
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [92]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.107340
2000-03-31   -1.543369
2000-04-30    0.302112
Freq: M, dtype: float64

In [93]:
ts.shift(2, freq='M')

2000-03-31   -2.158535
2000-04-30   -1.926838
2000-05-31    1.046985
2000-06-30    1.363291
Freq: M, dtype: float64

In [94]:
ts.shift(3, freq='D')

2000-02-03   -2.158535
2000-03-03   -1.926838
2000-04-03    1.046985
2000-05-03    1.363291
dtype: float64

In [95]:
ts.shift(3, freq='D')

2000-02-03   -2.158535
2000-03-03   -1.926838
2000-04-03    1.046985
2000-05-03    1.363291
dtype: float64

#### **Shifting dates with offsets**

In [96]:
from pandas.tseries.offsets import Day, MonthEnd

In [97]:
now = datetime(2011, 11, 17)

In [98]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [99]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [100]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [101]:
offset = MonthEnd()

In [102]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [103]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [104]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [105]:
ts

2000-01-15   -0.294350
2000-01-19    0.965930
2000-01-23   -1.034123
2000-01-27   -0.505856
2000-01-31    0.131080
2000-02-04   -0.212853
2000-02-08    0.529854
2000-02-12    0.070971
2000-02-16    0.810854
2000-02-20    0.614866
2000-02-24    0.458071
2000-02-28   -1.135666
2000-03-03    0.328657
2000-03-07   -0.867550
2000-03-11   -0.130647
2000-03-15    0.889133
2000-03-19   -0.247368
2000-03-23    0.833411
2000-03-27   -0.740380
2000-03-31    0.586873
Freq: 4D, dtype: float64

In [106]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.147464
2000-02-29    0.162299
2000-03-31    0.081516
dtype: float64

In [107]:
ts.resample('M').mean()

2000-01-31   -0.147464
2000-02-29    0.162299
2000-03-31    0.081516
Freq: M, dtype: float64

## **11.4 Time Zone Handling**

In [108]:
 import pytz

In [109]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [110]:
tz = pytz.timezone('America/New_York')

In [111]:
tz

### **Time Zone Localization and Conversion**

In [112]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [113]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [114]:
ts

2012-03-09 09:30:00    1.570244
2012-03-10 09:30:00   -0.867550
2012-03-11 09:30:00   -0.291610
2012-03-12 09:30:00    1.675536
2012-03-13 09:30:00   -0.875436
2012-03-14 09:30:00    1.240497
Freq: D, dtype: float64

In [115]:
print(ts.index.tz)

None

In [116]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [117]:
ts

2012-03-09 09:30:00    1.570244
2012-03-10 09:30:00   -0.867550
2012-03-11 09:30:00   -0.291610
2012-03-12 09:30:00    1.675536
2012-03-13 09:30:00   -0.875436
2012-03-14 09:30:00    1.240497
Freq: D, dtype: float64

In [118]:
ts_utc = ts.tz_localize('UTC')

In [119]:
ts_utc

2012-03-09 09:30:00+00:00    1.570244
2012-03-10 09:30:00+00:00   -0.867550
2012-03-11 09:30:00+00:00   -0.291610
2012-03-12 09:30:00+00:00    1.675536
2012-03-13 09:30:00+00:00   -0.875436
2012-03-14 09:30:00+00:00    1.240497
Freq: D, dtype: float64

In [120]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [121]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.570244
2012-03-10 04:30:00-05:00   -0.867550
2012-03-11 05:30:00-04:00   -0.291610
2012-03-12 05:30:00-04:00    1.675536
2012-03-13 05:30:00-04:00   -0.875436
2012-03-14 05:30:00-04:00    1.240497
Freq: D, dtype: float64

In [122]:
ts_eastern = ts.tz_localize('America/New_York')

In [123]:
 ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.570244
2012-03-10 14:30:00+00:00   -0.867550
2012-03-11 13:30:00+00:00   -0.291610
2012-03-12 13:30:00+00:00    1.675536
2012-03-13 13:30:00+00:00   -0.875436
2012-03-14 13:30:00+00:00    1.240497
dtype: float64

In [124]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.570244
2012-03-10 15:30:00+01:00   -0.867550
2012-03-11 14:30:00+01:00   -0.291610
2012-03-12 14:30:00+01:00    1.675536
2012-03-13 14:30:00+01:00   -0.875436
2012-03-14 14:30:00+01:00    1.240497
dtype: float64

In [125]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### **Operations with Time ZoneAware Timestamp Objects**

In [126]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [127]:
stamp_utc = stamp.tz_localize('utc')

In [128]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [130]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [131]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [132]:
stamp_utc.value

1299902400000000000

In [133]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [134]:
from pandas.tseries.offsets import Hour

In [135]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [136]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [137]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [138]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [139]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [140]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### **Operations Between Different Time Zones**

In [141]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [142]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [143]:
ts

2012-03-07 09:30:00    0.299081
2012-03-08 09:30:00   -0.844500
2012-03-09 09:30:00    0.292949
2012-03-12 09:30:00   -1.771089
2012-03-13 09:30:00    1.003279
2012-03-14 09:30:00    0.100239
2012-03-15 09:30:00   -0.203425
2012-03-16 09:30:00   -0.386654
2012-03-19 09:30:00   -0.423697
2012-03-20 09:30:00    0.385364
Freq: B, dtype: float64

In [144]:
ts1 = ts[:7].tz_localize('Europe/London')

In [145]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [146]:
result = ts1 + ts2

In [147]:
 result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## **11.5 Periods and Period Arithmetic**

In [148]:
 p = pd.Period(2007, freq='A-DEC')

In [149]:
 p

Period('2007', 'A-DEC')

In [150]:
p + 5

Period('2012', 'A-DEC')

In [151]:
p - 2

Period('2005', 'A-DEC')

In [152]:
pd.Period('2014', freq='A-DEC') - p

In [153]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [154]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [155]:
 pd.Series(np.random.randn(6), index=rng)

2000-01    1.777004
2000-02    0.720041
2000-03    0.651842
2000-04    0.203019
2000-05   -0.288332
2000-06   -0.671310
Freq: M, dtype: float64

In [156]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [157]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [159]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### **Period Frequency Conversion**